<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="font/fontawesome-free-6.6.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
   <div class="app">
       <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item--separate">
                </li>
                <li class="header__navbar-item">
                  <a href="" class="header__navbar-icon-link">
                    <i class="header__navbar-icon fa-solid fa-envelope"></i>
                      hotro@nhox.com
                  </a>
                  <a href="" class="header__navbar-icon-link">
                    <i class="header__navbar-icon fa-solid fa-phone-flip"></i>
                     0397349212
                  </a>     
                </li>
            </ul>

            <ul class="header__navbar-list">
              <li class="header__navbar-item-control">
                <a href="" class="header__navbar-item-control-btn">
                  <i class="fa-solid fa-angle-left"></i>
                </a>
                Tạo nên sự khác biệt
                  <a href="" class="header__navbar-item-control-btn">
                    <i class=" fa-solid fa-angle-right"></i>
                  </a>             
              </li>
            </ul>

            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item--separate-fa">              
                </li>  
                <li class="header__navbar-item header__navbar-item--separate-mes">              
                </li>  
                <li class="header__navbar-item ">             
                  <a href="" class="header__navbar-item-link">
                    <i class="header__navbar-icon fa-brands fa-facebook"></i>
                  </a>
                  <a href="" class="header__navbar-item-link">
                    <i class="header__navbar-icon fa-brands fa-facebook-messenger"></i>
                  </a>
                  <a href="" class="header__navbar-item-link">
                    <i class="header__navbar-icon fa-solid fa-square-phone"></i>
                  </a>
                </li>
                
            </ul> 
          </nav>
        </div>
       </header>

       <div class="main">

       </div>

       <div class="footer">

       </div>


   </div>
  </body>
</html>
